# deps
/node_modules

# next
/.next
/out
next-env.d.ts

# prod
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
""  
screenshots/  
