@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-[#F6F2FC] text-ink antialiased;
}

::selection {
  @apply bg-brand-600 text-white;
}
